<div class="d-flex flex-wrap w-100 flex-column">
  <div
    class="search-section d-flex justify-content-end px-3 px-md-4"
    *ngIf="showHeaderArea"
  >
    <mat-form-field
      class="search-area"
      appearance="outline"
      *ngIf="showSearchArea"
    >
      <input type="search" matInput />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
  <ng-content select="[slot='table']"></ng-content>
</div>
