:host {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .image {
    width: 100%;
    max-width: 80%;
    max-height: 18.75rem;

    svg {
      width: 100%;
      height: 100%;
      max-height: inherit;
    }
  }
}
