<div class="d-flex justify-content-end align-items-center p-2 p-lg-4">
  <button mat-mini-fab class="close-button text-white" (click)="close()">
    <mat-icon class="close-icon">close</mat-icon>
  </button>
</div>
<div class="image-container">
  <div class="w-100 h-100 d-flex-flex-wrap">
    <img appImgLazyLoading [src]="selectedImage | sanitizer" class="h-100" />
  </div>
</div>
<div
  class="col-md-10 d-flex flex-wrap mx-auto py-1 py-lg-3"
  *ngIf="showImageSlider"
>
  <app-image-slider-list
    [imageList]="imageList"
    [selectedImgIndex]="selectedImgIndex"
    (selectedImageEmitter)="setSelectImage($event)"
  ></app-image-slider-list>
</div>
