:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: inherit !important;
  overflow: hidden;
  padding: 1rem;

  .image-container {
    width: 100%;
    height: 60vh;

    img {
      width: 100%;
      height: auto;
      max-height: 100%;
      object-fit: contain;
    }
  }

  @media screen and (min-width: 768px) {
    padding: 1rem 2rem 2rm;
  }
}

::ng-deep {
  .preview-image-slider-modal {
    overflow: auto;

    .mat-dialog-container {
      padding: 0 !important;
      width: 100%;
      max-width: 55rem;
      margin: 2rem auto;
      min-height: 25rem;
      overflow: auto;
    }
  }
}
