<ng-container *ngIf="user$ | async as user">
  <mat-sidenav-container>
    <mat-sidenav
      #sidenav
      position="end"
      [mode]="!mobileQuery.matches ? 'over' : 'side'"
      (closed)="handleToggle(false)"
      [opened]="open || mobileQuery.matches"
      [disableClose]="mobileQuery.matches"
    >
      <aside *ngIf="mobileQuery.matches" class="position-fixed">
        <app-sidebar></app-sidebar>
      </aside>
      <app-mobile-navbar
        (closeMenu)="handleToggle($event)"
        *ngIf="!mobileQuery.matches"
      ></app-mobile-navbar>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-navbar [user]="user" (openMenu)="handleToggle($event)"></app-navbar>
      <main
        class="d-flex flex-wrap justify-content-center align-items-start w-100"
      >
        <div class="container d-flex flex-wrap flex-column main-container">
          <div class="w-100 main-contents py-3">
            <!--<div class="breadcrumbs-contents w-100">
             <app-breadcrumb></app-breadcrumb>
            </div> -->
            <router-outlet></router-outlet>
            <app-scroll-top></app-scroll-top>
          </div>
        </div>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>
