:host {
  @import "~bootstrap/scss/functions";
  @import "~bootstrap/scss/variables";
  @import "~bootstrap/scss/mixins";

  $asideWidth: 16.375rem;
  $navBarHeight: var(--navBarHeight);

  mat-sidenav-content {
    @media screen and (min-width: 768px) {
      margin-left: $asideWidth !important;
    }
  }

  mat-sidenav {
    min-height: calc(100% - 0.5rem);
  }

  aside {
    width: $asideWidth;
    border-right: 1px solid #eaebee;
    min-height: calc(100vh - #{$navBarHeight});
    height: 100%;
    z-index: var(--zIndexAside);
    overflow-y: auto;
    left: 0;
    top: 0;
  }

  main {
    min-height: calc(100vh - var(--siteTemplateNavBarHeight));

    @media (min-width: 2560px) {
      max-width: 2560px;
      margin: 0 auto;
    }
  }

  ::ng-deep {
    .mat-drawer-container {
      background-color: #fff;
    }
  }
}
