:host {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  .image-selected-wrapper {
    height: 22.8125rem;
    width: 100%;
    padding: 0.625rem;
    display: table-cell;
    vertical-align: middle;
    border: 1px solid #cad1db;
    box-sizing: border-box;
    border-radius: 0.25rem;
    margin-bottom: 0.875rem;

    img {
      width: 100%;
      height: 100%;
      max-height: 100%;
      object-fit: contain;

      &:hover {
        cursor: zoom-in;
      }
    }

  }

  @media screen and (max-width: 767px) {
    .image-selected-wrapper {
      height: 15rem;
    }
  }
}
