<div class="image-selected-wrapper bg-white" *ngIf="pageReady$ | async">
  <div class="w-100 h-100 d-flex-flex-wrap">
    <img
      appImgLazyLoading
      [src]="selectedImage | sanitizer"
      alt="Image of {{ imageDesc }}"
      (click)="preview()"
    />
  </div>
</div>
<div class="w-100 d-flex flex-wrap" *ngIf="showImageSlider">
  <app-image-slider-list
    [imageList]="imageList"
    [imageDesc]="imageDesc"
    (selectedImageEmitter)="setSelectImage($event)"
  ></app-image-slider-list>
</div>
