<div class="d-flex flex-wrap col-sm-10 col-md-8">
  <img
    class="m-auto w-100 mb-3"
    src="assets/images/offline.svg"
    alt="offline illustration"
  />
  <p class="col-sm-12 text-center py-3">You are offline</p>
</div>
