:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 75vh;

  img {
    max-height: 35vh;
  }

  p {
    font-size: 2rem;
    text-transform: uppercase;

    @media screen and(max-width: 319px) {
      font-size: 1.25rem;
    }
  }
}
