<div
  class="notification-wrapper {{ data?.type }}"
  [class.custom]="!!data?.type"
>
  <div class="d-flex flex-wrap">
    <div class="notification-container flex p-3 d-flex align-items-center">
      <mat-icon class="mr-3" *ngIf="data?.type || data?.matIcon">
        <ng-container [ngSwitch]="data?.type">
          <ng-container *ngSwitchCase="'success'">check_circle</ng-container>
          <ng-container *ngSwitchCase="'error'">error_outline</ng-container>
          <ng-container *ngSwitchCase="'warning'">warning_amber</ng-container>
          <ng-container *ngSwitchCase="'info'">info</ng-container>
          <ng-container *ngSwitchDefault>
            {{ data?.matIcon }}
          </ng-container>
        </ng-container>
      </mat-icon>
      <span>{{ data?.message }}</span>
    </div>
    <button
      matRipple
      class="d-flex justify-content-between align-items-center"
      (click)="close()"
    >
      <mat-icon class="m-auto">close</mat-icon>
    </button>
  </div>
</div>
