:host {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  .notification-wrapper {
    width: 100%;
    $borderRadius: 0.25rem;
    border-radius: $borderRadius;
    background: #323232;

    &.success {
      background: #22c55e;
    }

    &.error {
      background: #dc2626;
    }

    &.warning {
      background: #f97316;
    }

    &.info {
      background: var(--primary);
    }

    .notification-container {
      border-top-left-radius: $borderRadius;
      border-bottom-left-radius: $borderRadius;
      color: #fff;
      span {
        font-weight: normal;
        font-size: 0.75rem;
      }
    }

    button {
      width: 15%;
      max-width: 66px;
      border: none;
      border-top-right-radius: $borderRadius;
      border-bottom-right-radius: $borderRadius;
      background: transparent;
      color: #fff;
    }

    &.custom {
      button {
        background: rgba(0, 0, 0, 0.1);
        color: black;
      }
    }

    @media screen and (min-width: 768px) {
      .notification-container {
        span {
          font-weight: normal;
          font-size: 0.875rem;
          line-height: 17px;
        }
      }
    }
  }
}

::ng-deep {
  .custom-alert-snackbar.mat-snack-bar-container {
    padding: 0;
    background: none;

    @media screen and (min-width: 320px) {
      max-width: 292px;
      margin-right: 0;
      margin-left: auto;
    }
  }
}
