<nav class="d-flex flex-column pr-4 w-100">
  <span class="my-3 pl-3 mr-0 ml-auto">
    <button
      matRipple
      (click)="close()"
      class="close d-flex flex-wrap"
      aria-label="close navigation"
    >
      <mat-icon>close</mat-icon>
    </button>
  </span>
  <ul class="d-flex flex-column align-items-end pl-4">
    <ng-container *ngIf="user$ | async as user">
      <li>
        <div>
          <small
            class="
              d-flex
              justify-content-center
              align-items-center
              py-1
              font-weight-bold
              text-primary
            "
          >
            <span class="mr-1 text-capitalize"
              >Hi {{ user?.firstName | titlecase }}</span
            >
          </small>
        </div>
      </li>
      <li>
        <a
          (click)="gotoRoute(userAccountRoute)"
          routerLinkActive="active"
          class="d-flex align-items-center"
        >
          <mat-icon class="mr-1">manage_accounts</mat-icon>My Account</a
        >
      </li>
    </ng-container>
    <ng-container *ngFor="let navItem of navList; let index = index">
      <li *ngIf="navItem | asideMenu" class="d-flex flex-wrap">
        <ng-container *ngIf="navItem.active; else inactiveLink">
          <ng-container *ngIf="navItem?.children?.length; else noChildrenLinks">
            <button
              class="
                d-flex
                align-items-center
                bg-transparent
                ml-auto
                mr-0
                p-0
                border-0
              "
              (click)="selectedIndex = index === selectedIndex ? null : index"
            >
              <span
                class="
                  d-flex
                  flex
                  menu-content
                  flex-wrap
                  justify-content-between
                  align-items-center
                "
              >
                <ng-container *ngTemplateOutlet="menuContent"></ng-container>
                <mat-icon class="toggle-btn ml-2">expand_more</mat-icon>
              </span>
            </button>
            <ng-container *ngIf="navItem.children as subMenuList">
              <div
                [@expandSubMenu]="
                  selectedIndex == index ? 'expanded' : 'collapsed'
                "
                class="ml-auto mr-0"
              >
                <ul class="submenu-nav no-list-style text-white pl-3">
                  <ng-container *ngFor="let subMenu of subMenuList">
                    <li
                      *ngIf="subMenu | asideMenu"
                      class="mt-0 mb-2"
                      aria-haspopup="true"
                    >
                      <small>
                        <a
                          class="text-decoration-none submenu"
                          [routerLink]="subMenu.link"
                          routerLinkActive="text-primary"
                          [routerLinkActiveOptions]="{ exact: true }"
                        >
                          {{ subMenu.name }}
                        </a>
                      </small>
                    </li>
                  </ng-container>
                </ul>
              </div>
            </ng-container>
          </ng-container>
          <ng-template #noChildrenLinks>
            <a
              class="d-flex align-items-center ml-auto mr-0"
              (click)="menuClick(navItem)"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <ng-container *ngTemplateOutlet="menuContent"></ng-container>
            </a>
          </ng-template>
        </ng-container>
        <ng-template #inactiveLink>
          <span class="text-muted">
            <ng-container *ngTemplateOutlet="menuContent"></ng-container>
          </span>
        </ng-template>
        <ng-template #menuContent>
          {{ navItem.name }}
        </ng-template>
      </li>
    </ng-container>
    <li>
      <a
        role="button"
        mat-flat-button
        class="text-white bg-danger"
        (click)="logout()"
        ><mat-icon>logout</mat-icon> Sign Out</a
      >
    </li>
  </ul>
</nav>
