:host {
  width: 100%;
  max-width: fit-content;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--sideBarBg);

  nav {
    button {
      margin: 0;
      background: #ffffff;
      border-color: transparent;
      box-shadow: none;

      &.close {
        padding: 0.5rem;
        border-radius: 100%;
        color: var(--primary);
      }
    }
    li {
      margin: 1rem 0;
      button,
      a {
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        font-weight: 500;
        text-align: right;

        &.submenu {
          text-transform: capitalize;
        }

        mat-icon {
          $dm: 0.875rem;
          width: $dm;
          height: $dm;
          font-size: $dm;
        }

        &:hover {
          color: #f5f5f5;
        }

        &.active {
          color: var(--primary);
          border-top: 1px solid;

          .mat-icon {
            color: var(--primary);
          }
        }

        @media screen and (max-width: 250px) {
          font-size: 0.625rem;
        }
      }
    }

    @media screen and (min-width: 180px) {
      min-width: 175px;
    }

    @media screen and (min-width: 280px) {
      min-width: 240px;
    }
  }
}
