:host {
  width: fit-content;
  display: flex;
  flex-wrap: wrap;

  p {
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 18px;
    color: #000000;
  }
}

::ng-deep {
  .custom-confirmation-modal {
    .mat-dialog-container {
      width: fit-content;
      display: flex;
      flex-wrap: wrap;
      margin: auto;
    }
  }
}
