<div
  class="
    d-flex
    flex-wrap flex-column
    text-center
    justify-content-center
    align-items-center
  "
>
  <p class="mb-4">
    {{ data?.content }}
  </p>
  <div class="d-flex flex-wrap">
    <button mat-button color="primary" class="mr-3" (click)="cancel()">
      {{ data?.cancelActionText || "Cancel" }}
    </button>
    <button mat-flat-button color="primary" (click)="confirmation()">
      {{ data?.primaryActionText || "Ok" }}
    </button>
  </div>
</div>
