<div class="d-flex flex-column p-3 flex-wrap w-100">
  <div class="mb-3 w-100">
    <a>
      <!-- <img
        style="height: 60px"
        alt="Logo"
        src="assets/media/logos/logo.png"
      /> -->
      logo
    </a>
  </div>

  <!-- begin:: Aside Menu -->

  <ul class="menu-nav">
    <!-- users tables menu-->
    <ng-container *ngFor="let menu of menuList">
      <li
        *ngIf="menu | asideMenu"
        class="kt-menu__item kt-menu__item--submenu"
        [attr.aria-haspopup]="menu.id === selectedMenu"
        data-ktmenu-submenu-toggle="hover"
        [class.kt-menu__item--open]="menu.id === selectedMenu"
      >
        <a
          href="javascript:;"
          class="d-flex flex-wrap align-items-center"
          role="button"
          (click)="setSelectedMenu(menu.id)"
        >
          <mat-icon> dashboard </mat-icon>
          <span class="menu-text ml-2">{{ menu.name }}</span>
          <i class="kt-menu__ver-arrow la la-angle-right"></i>
        </a>
        <ng-container *ngIf="menu.children as subMenuList">
          <div
            [ngStyle]="{
              display: menu.id !== selectedMenu ? 'none' : 'flex',
              overflow: menu.id !== selectedMenu ? 'hidden' : 'unset'
            }"
          >
            <ul class="kt-menu__subnav">
              <ng-container *ngFor="let subMenu of subMenuList">
                <li
                  *ngIf="subMenu | asideMenu"
                  routerLinkActive="kt-menu__item--active"
                  class="kt-menu__item az-kt-menu__item"
                  aria-haspopup="true"
                >
                  <a class="menu-link" [routerLink]="subMenu.link">
                    <mat-icon> dashboard </mat-icon>
                    <span>{{ subMenu.name }}</span>
                  </a>
                </li>
              </ng-container>
            </ul>
          </div>
        </ng-container>
      </li></ng-container
    >
  </ul>
</div>
