:host {
  background: var(--sideBarBg);
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  color: #fff;
  min-height: 100%;

  ul {
    list-style: none;
    &.menu-nav {
      padding: 0;
    }
  }
}
