<nav
  class="d-flex justify-content-lg-between align-items-center w-100 container"
>
  <span class="d-block d-md-none mr-2">
    <button (click)="open()" class="btn-nav-menu">
      <mat-icon>menu</mat-icon>
    </button>
  </span>
  <span class="d-md-none pl-lg-2">
    <!-- <a class="logo" routerLink="/">
      <picture>
        <source srcset="assets/images/logo.svg" />
        <img src="assets/images/logo.svg" />
      </picture>
    </a> -->
    <span class="logo text-primary"> Logo </span>
  </span>
  <span class="mr-0 ml-auto">
    <button
      class="btn-user-account"
      mat-button
      [matMenuTriggerFor]="menuMobile"
    >
      <span class="d-flex justify-content-center align-items-center">
        <mat-icon>account_circle</mat-icon>
        <span class="d-flex flex-wrap px-1"
          >{{ user?.firstName }}
          <span class="d-none d-md-block ml-md-1">
            {{ user?.lastName }}
          </span></span
        >
        <mat-icon>keyboard_arrow_down</mat-icon>
      </span>
    </button>
    <mat-menu #menuMobile="matMenu" xPosition="before" yPosition="below">
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon> Sign Out
      </button>
    </mat-menu>
  </span>
</nav>
