:host {
  font-family: "Open Sans", sans-serif;

  nav {
    height: var(--siteTemplateNavBarHeight);
    background: #ffffff;
    font-size: 0.75rem;
    font-weight: 500;

    .logo {
      font-size: 1rem;
    }

    button {
      background: #ffffff;
      border-color: transparent;
      box-shadow: none;
      mat-icon {
        color: #000;
      }
    }

    li {
      a {
        text-decoration: none;
        text-transform: uppercase;
        color: #121212;
        text-align: center;
        .mat-icon {
          color: #a0a1b9;
        }
        img {
          cursor: pointer;
        }

        &.active,
        &:hover {
          color: var(--primary);

          .mat-icon {
            color: var(--primary);
          }
        }

        &.disabled {
          color: lightgray;
          cursor: not-allowed;
        }
      }
      list-style: none;
      font-weight: bold;
    }
  }
}

::ng-deep .mat-menu-panel {
  .mat-menu-content {
    padding: 0 !important;
  }

  .mat-menu-item {
    &.active {
      background-color: #ededed;
    }
    &:hover {
      text-decoration: none;
    }
  }
}
