<section>
  <div
    class="
      header
      w-100
      d-flex
      flex-wrap
      justify-content-center
      align-items-center
      bg-white
    "
  >
    <h1 class="mb-0 text-center text-primary">Admin Login</h1>
  </div>
  <div
    class="
      w-100
      d-flex
      flex-wrap
      content
      justify-content-center
      align-items-center
    "
  >
    <div
      class="
        form-wrapper
        w-100
        d-flex
        flex-wrap
        justify-content-center
        align-items-center
      "
    >
      <form
        [formGroup]="loginForm"
        class="sign-in-form w-100 p-4 p-md-5"
        (ngSubmit)="login()"
      >
        <div class="mb-4 pb-2 mb-lg-3 pb-lg-0">
          <div
            class="
              col-sm-12
              text-center
              d-flex
              justify-content-center
              py-3
              flex-column
              align-items-center
              mb-4
            "
          >
            <span
              class="
                icon-wrapper
                d-flex
                flex-wrap
                justify-content-center
                align-items-center
                mb-3
              "
            >
              <mat-icon class="text-primary"> person </mat-icon>
            </span>
            <span class="description">Enter your login details</span>
          </div>
          <div class="form-row mb-2">
            <div class="col-sm-12">
              <mat-form-field appearance="outline">
                <mat-label>Email Address</mat-label>
                <input
                  matInput
                  placeholder="Email Address"
                  type="email"
                  autocomplete="email"
                  formControlName="email"
                />
                <mat-error class="text-left col-sm-12 px-0">
                  A valid email is required
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="form-row mb-2">
            <div class="col-sm-12 pt-1">
              <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input
                  matInput
                  placeholder="Create Password"
                  type="password"
                  formControlName="password"
                />
                <mat-error class="text-left col-sm-12 px-0">
                  Password is required
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div
          class="
            d-flex
            justify-content-center
            align-items-center
            mb-4
            pb-2
            mb-lg-0
            pb-lg-0
          "
        >
          <button
            type="submit"
            mat-raised-button
            color="primary"
            class="default-action-btn text-center w-100"
            [appButtonLoading]="isLoading"
            [disabled]="loginForm.invalid"
          >
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
