:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;

  section {
    height: 100vh;
    width: 100%;
  }

  .header {
    padding: 0.625rem 0;
    height: var(--navBarHeight);

    h1 {
      font-weight: bold;
      font-size: 1.5rem;
      line-height: 36px;
    }
  }

  .content {
    min-height: calc(100vh - var(--navBarHeight));
  }

  .form-wrapper {
    form {
      width: 90%;
      max-width: 432px;
      background: #ffffff;
      border-radius: 4px;
    }
  }

  .icon-wrapper {
    $dm: 4rem;
    width: $dm;
    height: $dm;
    border-radius: 100%;
    background-color: rgba($color: #98418e, $alpha: 0.1);
  }

  .description {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #404040;
  }

  @media screen and (min-width: 768px) {
    background-color: var(--contentBg);

    .form-wrapper {
      max-width: 550px;
      form {
        box-shadow: 0px 0px 0px rgba(63, 63, 68, 0.05),
          0px 1px 3px rgba(63, 63, 68, 0.15), inset 0px -4px 0px #98418e;
      }
    }
  }
}
