<div class="overlayer d-flex justify-content-center align-items-center">
  <div
    class="d-flex flex-wrap flex-row justify-content-center align-items-center"
  >
    <span class="text mr-3"> Please Wait </span>
    <span class="spinner-border text-info px-2" role="status">
      <span class="sr-only">Loading...</span>
    </span>
  </div>
</div>
