:host {
  width: 100%;
  height: 100%;
  display: flex;

  .overlayer {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba($color: #1c1c1c, $alpha: 0.25);

    .text {
      font-size: 1.25rem;
    }
  }
}
