:host {
  @keyframes scrolltop-show-animation {
    from {
      margin-bottom: -15px;
      opacity: 0.4;
    }
    to {
      margin-bottom: 0;
      opacity: 1;
    }
  }

  #scrolltop.show-btn {
    opacity: 1;
    animation: scrolltop-show-animation 0.4s ease-out 1;
    display: flex;
  }

  .scrolltop {
    $dimension: 2.5rem;
    display: none;
    justify-content: center;
    align-items: center;
    width: $dimension;
    height: $dimension;
    position: fixed;
    bottom: 3rem;
    right: 1.25rem;
    cursor: pointer;
    z-index: 100;
    color: var(--primary);
    background: rgba($color: #f5f5f5, $alpha: 0.75);

    opacity: 0;
    transition: all 0.3s;
    border-radius: 100%;

    &.fix-scroll {
      bottom: 2rem;
    }
    @media screen and (min-width: 768px) {
      &.fix-scroll {
        bottom: 2rem;
      }

      color: #fff;
      background: var(--primary);
      box-shadow: 0 0 15px 1px rgb(69 65 78 / 20%);
    }

    @media screen and (min-width: 992px) {
      right: 2rem;
      $dimension: 3.875rem;
      width: $dimension;
      height: $dimension;
    }

    @media screen and (min-width: 1440px) {
      right: 6rem;
    }

    @media screen and (min-width: 1600px) {
      right: 7.75rem;
    }
  }
}
