@import "assets/styles/custom-material.scss";
@import "assets/styles/custom-bootstrap.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-form-field {
  width: 100%;
}

.text {
  &-muted {
    opacity: 0.75;

    &:hover {
      cursor: not-allowed;
    }
  }
}

ul {
  &.no-list-style {
    &,
    li {
      list-style: none;
    }
  }
}

@keyframes skeletonloader {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.skeleton-ui {
  animation: skeletonloader 0.5s ease infinite;
  background: linear-gradient(-45deg, #ddd, #f0f0f0, #eee, #f0f0f0);
  background-size: 400% 400%;
}
