$primary: #0091ea;
$secondary: #0371ea;
$danger: #dc2626;
$contentBg: #f5f5f5;
$sideBarBg: #121212;

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    "primary": $primary,
    "secondary": $secondary,
    "danger": $danger,
  ),
  $theme-colors
);

$zIndexNav: 100;
$zIndexAside: 99;
$navBarHeight: 4.375rem;
$siteTemplateNavBarHeight: 4.5rem;
$sideBarWidth: 15rem;

:root {
  --primary: #{$primary};
  --secondary: #{$secondary};
  --danger: #{$danger};
  --contentBg: #{$contentBg};
  --sideBarBg: #{$sideBarBg};
  --sideBarWidth: #{$sideBarWidth};
  --zIndexNavBar: #{$zIndexNav};
  --zIndexAside: #{$zIndexAside};
  --navBarHeight: #{$navBarHeight};
  --siteTemplateNavBarHeight: #{$siteTemplateNavBarHeight};
}

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/_reboot.scss";
@import "~bootstrap/scss/_nav.scss";
@import "~bootstrap/scss/_navbar.scss";
@import "~bootstrap/scss/_grid.scss";
@import "~bootstrap/scss/_card.scss";
@import "~bootstrap/scss/_spinners.scss";
@import "~bootstrap/scss/type.scss";
@import "~bootstrap/scss/forms.scss";
@import "~bootstrap/scss/input-group.scss";
@import "~bootstrap/scss/custom-forms.scss";
@import "~bootstrap/scss/list-group.scss";
@import "~bootstrap/scss/tables";

@mixin flexCss($breakpoint: "") {
  @if $breakpoint != "" {
    @include media-breakpoint-up(#{$breakpoint}) {
      .flex-#{$breakpoint} {
        flex: 1;

        &-none {
          flex: none;
        }
      }
    }
  } @else {
    .flex {
      flex: 1;

      &-none {
        flex: none;
      }
    }
  }
}

$mediaQueries: "", "sm", "md", "lg", "xl";

@each $query in $mediaQueries {
  @include flexCss($query);
}
