
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ng-project-starter-primary: mat.define-palette(mat.$indigo-palette);
$ng-project-starter-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ng-project-starter-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ng-project-starter-theme: mat.define-light-theme((
  color: (
    primary: $ng-project-starter-primary,
    accent: $ng-project-starter-accent,
    warn: $ng-project-starter-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($ng-project-starter-theme);

/* You can add global styles to this file, and also import other style files */
$custom-typography: mat.define-typography-config(
  $font-family: '"Roboto", sans-serif',
  $body-2: mat.define-typography-level(14px, 20px, 400),
  $body-1: mat.define-typography-level(16px, 24px, 400),
  $title: mat.define-typography-level(20px, 32px, 700),
  $subheading-2: mat.define-typography-level(16px, 28px, 700)
);

@include mat.all-component-typographies($custom-typography);
@include mat.core($custom-typography);