:host {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  .image-list-wrapper {
    .image-list-item {
      $dimension: 4.5rem;
      width: $dimension;
      height: $dimension;
      border-radius: 0.25rem;
      border: 1px solid #fff;

      &.active {
        border: 1px solid #cad1db;
      }
    }
  }
}
